#results {
  background-color: #fff;
}

.results-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 0px;
}

.results_gallery {
  display: flex;
  flex-direction: row;
}

.results_gallery-testimonial {
  display: flex;
  width: 360px;
  padding: 0px 15px;
}

.results_gallery-testimonial > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.results_gallery-img-container {
  max-width: 350px;
  width: 100%;
}

.results_gallery > div > img {
  width: 100%;
  max-height: 400px;
  height: 100%;
}
