html {
  overflow-x: hidden;
}

.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
  padding: 0.5rem 30px;
}

@media screen and (max-width: 425px) {
  .home {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: none;
    padding: 1rem 10px;
    gap: 1.5rem;
  }

  .home > .create {
    grid-row: 1;
  }
}
