header {
  background: #fff;
}
header > .nav_container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header > .nav_container > a {
  color: #333;
  text-decoration: none;
}

.title_span {
  font-size: 32px;
  color: goldenrod;
}
