.workOutDetails {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.workOutDetails > h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.workOutDetails > p {
  margin: 0;
  font-size: 0.9rem;
  color: #555;
}

.workOutDetails > svg {
  position: absolute;
  font-size: 2.5em;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background-color: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.workoutButtons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 5px;
}

.workoutButtons > svg {
  margin-top: 10px;
}

.workoutButtons > :hover {
  cursor: pointer;
}

.workoutButtons > svg:hover {
  scale: 1.21;
}
