.create {
  background-color: #f1f1f1;
  padding: 1em;
  height: min-content;
}
label,
input {
  display: block;
}

input {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid var(--error);
}

.calories-dropDown {
  visibility: visible;
  transition: height 0.3s ease-in;
  height: 250px;
  width: auto;
}

.calories-dropDown > * {
  transition: height 0.35s ease-in 0.3s;
}

.hide-messages {
  visibility: hidden;
  transition: height 0.3s ease-in;
  height: 0;
  width: 0;
}
